@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgba(26, 11, 46, 1);
}
/* navbar related style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  margin-top: 20px;
}

.nav-links {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.nav-links a:hover {
  color: #00ff88;
}
nav > span {
  margin-right: 18px;
  display: none;
}
.subscribe-btn {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  color: white;
  width: auto;
  height: 44px;
  text-align: center;
  padding: 12px 16px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.subscribe-btn-all:hover {
  opacity: 0.8;
  transform: translateY(-5px);
  transition: 0.5s ease;
}
/* banner related style */
.banner {
  background-color: #1a0b2e;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  position: relative;
  padding: 80px 20px;
  text-align: center;
  color: white;
  overflow: hidden;
  z-index: 1;
}
.podcast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  height: 250px;
}
.main-circle-box {
  position: relative;
  width: 300px;
  z-index: 10;
  left: -85px;
}

.center-img {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  /* border: 4px; */
  /* padding: 10px; */
}
.side-img {
  width: 120px;
  z-index: 10;
  margin-left: -292px;
}
.new-badge {
  position: absolute;
  top: 20px;
  right: -1px;
  background-color: #00ff88;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
}
.banner-content h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 3.75rem;
  margin-bottom: 8px;
}

.banner-content p {
  color: #ffffff;
  font-weight: 400;
  max-width: 550px;
  opacity: 0.8;
  margin: 0 auto 30px;
}
.bta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn-spotify {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.btn-subscribe {
  background: transparent;
  color: white;
  border: 2px solid #00ff88;
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* ANIMATION */
.nav-logo img {
  animation: soft-breathe 5s ease-in-out infinite;
}
@keyframes soft-breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
/* about the podcast section */
.about-section {
  padding: 100px 20px;
  color: white;
  text-align: center;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}
.about-header h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
}
.about-header p {
  max-width: 800px;
  margin: 0 auto 15px;
  line-height: 30px;
  font-size: 1.1rem;
  opacity: 0.7;
}
.stats-divider {
  /* border: none; */
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
  opacity: 0.1;
}
.about-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  flex-wrap: wrap;
  gap: 30px;
}
.stat-item {
  flex: 1;
  min-width: 200px;
}
.stat-item h3 {
  font-size: 3rem;
  color: #00ff88;
  margin-bottom: 10px;
  font-weight: 800;
}
.stat-item p {
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
/* Why Choose TechWave section */
.why-choose-section {
  background-color: rgba(35, 14, 61, 1);
  padding: 80px 5%;
  text-align: center;
  color: #ffffff;
}
.section-title1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 58px;
  margin-bottom: 40px;
  margin-top: 120px;
  width: 100%;
}
.feature-card h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 15px;
  text-align: left;
}
.feature-card p {
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
  opacity: 0.6;
  text-align: left;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  border-radius: 40px;
}
.card-premium {
  grid-column: 1;
  grid-row: 1 / 3;
  gap: 16px;
  padding: 40px;
  justify-content: center;
}
.card-mobile {
  grid-column: span 2;
}
.card-global {
  grid-column: span 2;
}
.card-interview {
  grid-column: span 2;
  grid-row: 3;
}
.card-resource {
  grid-column: 3;
  grid-row: 3;
}
.feature-card {
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
}
.feature-card img {
  width: 44px;
  margin-bottom: 20px;
}
/* --- Featured Episodes Section --- */
.section-title2 {
  font-size: 3rem;
  font-weight: 700px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}
.featured-episodes {
  background-color: rgba(26, 11, 46, 1);
  padding: 40px 5%;
  text-align: center;
}
.featured-episodes .section-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 50px;
}
.episodes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.episode-card {
  background-color: rgba(37, 13, 68, 1);
  gap: 12px;
  border-radius: 20px;
  overflow: hidden;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
}
.video-container {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.video-container iframe {
  width: 100%;
  height: 100%;
}
.episode-info {
  padding: 24px;
  flex-grow: 1;
}
.episode-info h3 {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 29px;
  margin-bottom: 12px;
  font-weight: bold;
}
.episode-info p {
  color: rgba(239, 233, 233, 0.868);
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: 400;
}
.duration-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.duration-icon {
  width: 20px;
  height: 20px;
}
.duration {
  color: #00ff88;
  font-weight: 600;
  line-height: 24px;
}
/* Meet the Host */
.meet-host {
  background-color: rgba(26, 11, 46, 1);
  padding: 80px;
  text-align: center;
}
.host-title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 40px;
}
.host-container {
  max-width: 1200px;
  margin: 0 auto;
}
.host-card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 60px;
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: left;
}
.host-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.host-content h3 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  line-height: 39px;
  margin-bottom: 16px;
}
.host-content p {
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  line-height: 24px;
  margin-bottom: 16px;
}
.social-links {
  display: flex;
  gap: 8px;
}
.social-links a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid rgba(83, 60, 114, 1);
  transition: opacity 0.3s;
}
/* footer section */
.techwave-footer {
  background: url("../assets/footer-bg.png") no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
}
.footer-logo img {
  margin-bottom: 32px;
}
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
  width: 100%;
}
.footer-socials a {
  gap: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500px;
  opacity: 0.6;
}
.footer-copy {
  margin-top: 32px;
  color: rgb(241, 230, 230);
  opacity: 0.6;
}
/* RESPONSIVE CODES */
@media screen and (max-width: 576px) {
  .nav-links,
  .subscribe-btn {
    display: none;
  }
  nav > span {
    /* margin-right: 18px; */
    display: inline;
  }
  .banner {
    padding: 20px;
    background-position-x: center;
    background-position-y: 80px;
  }
  .main-circle-box {
    width: 150px;
    height: 150px;
    left: -35px;
  }
  .side-img {
    width: 60px;
    z-index: 10;
    margin-left: -140px;
  }
  .about-section {
    padding: 10px;
  }
  .stats-divider {
    margin: 39px auto;
    opacity: 0.1;
  }
  .podcast-container {
    margin-bottom: 0px;
  }
  .about-stats {
    margin-top: 10px;
    gap: 15px;
    margin-bottom: 10px;
  }
  .banner-content h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .banner-content p {
    font-size: 0.7rem;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .bta-buttons {
    gap: 8px;
  }
  .btn-spotify,
  .btn-subscribe {
    width: 100%;
    max-width: 250px;
    padding: 10px 20px;
  }
  .new-badge {
    font-size: 12px;
    padding: 3px 10px;
    right: 0px;
  }
  .about-header h2 {
    font-size: 1.8rem;
  }
  .about-header p {
    font-size: 1rem;
  }
  .stat-item {
    min-width: 40%;
  }
  .stat-item h3 {
    font-size: 2rem;
  }
  /* why choose TechWave */
  .section-title1 {
    font-size: 1.7rem;
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .features-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .card-premium,
  .card-mobile,
  .card-global,
  .card-interview,
  .card-resource {
    grid-column: span 1;
    grid-row: auto;
  }
  .feature-card {
    padding: 24px;
    border-radius: 24px;
  }
  .feature-card h3 {
    font-size: 1.37rem;
    line-height: 24px;
  }
  .feature-card p {
    font-size: 1rem;
    line-height: 24px;
  }
  /* Featured Episodes section */

  .episodes-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .why-choose-section {
    padding-bottom: 20px;
    padding: 35px 5%;
  }
  .featured-episodes {
    padding-top: 10px;
  }
  .section-title2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .episode-info {
    padding: 16px;
  }
  .episode-info h3 {
    font-size: 1.25rem;
  }
  /* Meet the Host */
  .meet-host {
    padding: 30px;
  }
  .host-title {
    font-size: 2rem;
    line-height: 25px;
    margin-bottom: 24px;
  }
  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    gap: 24px;
    border-radius: 20px;
  }
  .host-image img {
    width: 150px;
    height: 150px;
  }
  .host-content h3 {
    font-size: 1.5rem;
    line-height: 25px;
  }
  .social-links {
    justify-content: center;
    gap: 8px;
  }
  /* footer section */
  .techwave-footer {
    padding: 20px 10px;
  }
  .footer-logo img {
    width: 150px;
    margin-bottom: 25px;
  }
  .footer-socials {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer-socials a {
    font-size: 0.8rem;
  }
  .footer-socials a img {
    width: 18px;
  }
  .footer-copy {
    margin-top: 16px;
    font-size: 12px;
    width: 100%;
  }
}
